// basic audio player styles
#audio-player {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 6px;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #fdfdfd),
      color-stop(1, #e7e7e7)
    );
    background-image: -o-linear-gradient(bottom, #fdfdfd 0%, #e7e7e7 100%);
    background-image: -moz-linear-gradient(bottom, #fdfdfd 0%, #e7e7e7 100%);
    background-image: -webkit-linear-gradient(bottom, #fdfdfd 0%, #e7e7e7 100%);
    background-image: -ms-linear-gradient(bottom, #fdfdfd 0%, #e7e7e7 100%);
    background-image: linear-gradient(to bottom, #fdfdfd 0%, #e7e7e7 100%);
  
    [class*=box-] {
      float: left;
      padding: 10px;
      border-right: 1px solid #d4d4d4;
      box-sizing: border-box;
      
      &:last-child {
        border-right: none;
      }
      
      @media (max-width: 480px) {
        display: block;
        float: none;
        border: none;
      }
    }
  
    .box-playpause {
        width: 12%;
        max-width: 34px;
      
        @media (max-width: 480px) {
          width: 100%;
          max-width: none;
          text-align: center;
        }
    }

    // play button
    #play-pause-btn {
        width: 16px;
        height: 16px;
        color: #252525;
        cursor: pointer;
      
        @media (max-width: 480px) {
          width: auto;
        }
    }
    
    // pause button
    #play-pause-btn.playing {
        font-size: 16px;
    }
  
    .box-stopbtn {
        width: 12%;
        max-width: 34px;
      
         @media (max-width: 480px) {
          width: 100%;
          max-width: none;
          text-align: center;
        }
    }

    // stop button
    #stop-btn {
        width: 14px;
        height: 14px;
        background-color: #252525;
        cursor: pointer;
        
        @media (max-width: 480px) {
          margin: 0 auto;
        }
    }
  
    .box-audiofilestart {
        width: 16%;
        max-width: 46px;
      
        @media (max-width: 480px) {
          width: 100%;
          max-width: none;
          text-align: center;
        }
    }
  
    // audio start time (zero)
    #audio-file-start {
        color: #252525;;
        font-size: 14px;
    }
  
    .box-progressbar {
        width: 36%;
        max-width: 170px;
      
        @media (max-width: 480px) {
          width: 100%;
          max-width: none;
          text-align: center;
        }
    }

    // audio progress container
    #audio-progress-container {
        position: relative;
        width: 100%;
        height: 12px;
        background: #626262;
        border: 1px solid #818181;
        border-radius: 6px;
        overflow: hidden;
    }
  
    // audio progress bar
    #audio-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 0;
        height: 12px;
        background: repeating-linear-gradient(
          135deg,
          #fff,
          #fff 5px,
          #dedede 5px,
          #dedede 10px
        );
        border-radius: 6px;
    }
  
    .box-audiofileend {
        width: 16%;
        max-width: 46px;
      
        @media (max-width: 480px) {
          width: 100%;
          max-width: none;
          text-align: center;
        }
    }
  
    // audio end time (total duration of audio)
    #audio-file-end {
        color: #252525;
        font-size: 14px;
    }
  
    .box-volumeicon {
        width: 16%;
        max-width: 46px;
      
        @media (max-width: 480px) {
          width: 100%;
          max-width: none;
          text-align: center;
        }
    }
  
    // displays mute
    #volume-icon-container {
        cursor: pointer;
        height: 16px;
    }

    // volume icon - first part
    #volume-icon {
        position: relative;
        top: 4px;
        width: 6px;
        height: 6px;
        background: #252525;
        border-radius: 1px 0 0 1px;
        margin-right: 16px;
      
        @media (max-width: 480px) {
          margin: 0 auto;
        }
    }

    // volume icon - second part
    #volume-icon:after {
        content:'';
        position: absolute;
        top: -5px;
        left: -6px;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-right: 8px solid #252525;
    }

    // volume icon - all soundwaves
    #volume-icon-container span {
        position: absolute;
        top: -5px;
        left: 12px;
        font-size: 10px;
        color: #252525;
    }

    // volume icon - second soundwave
    #volume-icon-container span:nth-child(2) {
        left: 16px;
    } 

    // volume icon - third soundwave
    #volume-icon-container span:nth-child(3) {
        left: 20px;
    }

    // volume icon - hides soundwaves
    #volume-icon-container.muted span {
        visibility: hidden;  
    }
  
    .box-volumelevel {
        width: 20%;
        max-width: 100px;
      
        @media (max-width: 480px) {
          width: 100%;
          max-width: none;
          text-align: center;
        }
    }

    // audio volume container
    #volume-level-container {
        position: relative;
        float: left;
        width: 100%;
        height: 12px;
        background: #fff;
        border-radius: 6px;
        border: 1px solid #818181;
    }

    // audio volume status
    #volume-level-indicator {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 12px;
        background: repeating-linear-gradient(
          135deg,
          #fff,
          #fff 5px,
          #dedede 5px,
          #dedede 10px
        );
        border-radius: 6px;
    }

}
